h2{
    text-align: center;
    margin-top:-200px;
    padding-bottom:50px;
}

.accept-button{
    float:left;
    margin-right:100px;
    background-color: #48ae3f;
}

.accept-button:hover{
    background-color: #275e22;
}

.user-request{
    border: 20px solid #e1f2f1;
    background-color: #e1f2f1;
    border-radius: 10px;
    padding-bottom:45px;
    width:1200px;
    margin-bottom:40px;
}

.avatar-preview{
    width:50px;
    height:50px;
    margin-right:90px;
}

.name{
    font-size: 24px;
    font-weight: bold;
    text-align: center
}

.accept{
    position: relative;
    left:300px;
    margin-right:100px
}

.decline-button{
    float:left;
    position: relative;
    left:550px;
    text-align: center;
    background-color: #969696;
}

.view-button{
    float:left;
    position: relative;
    left:300px;
    text-align: center;
}

.view-profile{
    position:relative;
}

.decline-button:hover{
    background-color: #696969;
}

.decline{
    position: relative;
}